<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="CERTENROLLLibx64" version="1.0.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="CSS.Common" version="1.6.0" targetFramework="net472" />
  <package id="CSS.PKI" version="2.13.0" targetFramework="net472" />
  <package id="Keyfactor.AnyGateway.SDK" version="21.3.2" targetFramework="net472" developmentDependency="true" />
  <package id="Keyfactor.Logging" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="System.DirectoryServices" version="5.0.0" targetFramework="net472" />
</packages>